{% for obj in my_context %}
  <div class="card mt-3">
    <div class="card-header">
      <strong>{{ obj.orderData }}</strong>
    </div>
    <div class="card-body">
      <div class="row">
        <h6 class="col">{{ obj.orderStatus }}</h6>
        <h6 class="col text-right">Order No: {{ obj.orderNumber }}</h6>
      </div>
      <div class="row">
        <div class="col-2 border ml-3">
          <img src="{{ obj.productImage }}" alt="No Image">
        </div>
        <div class="col">
          <b>Product Name:</b><br />
          {{ obj.productName }}<br />
          <b>Payment Method:</b><br />
          {{ obj.paymentMethod }}<br />
        </div><br />
      </div>
      <div class="my-2">
        <b>Shipping Address:</b> {{ obj.shippingAddress }}<br />
      </div>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#a{{ obj.orderNumber }}">
      Track your package
    </button>
    {% include './trackPackageModal.html' with id=obj.orderNumber track=obj.track %}
  </div>
{% endfor %}
{{ track }}
{% if not object_list %}
  No such orders found
{% endif %}
