{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% include 'seller/base/css.html' %}
  </head>
  <body style="background-color: #d8d8d8">
    <nav class="navbar navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="#"><img src="{% static 'img/amazonfbalogo.png' %}" alt="AfterShip logo" height="35px"></a>
      <div class="navbar-header">
          <a class="btn btn-light" href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a>
          <form class="btn" action="{% url 'account_logout' %}" method="post">{% csrf_token %}
            <style media="screen">
              .submitLink {
                background-color: transparent;
                text-decoration: none;
                border: none;
                color: black;
                cursor: pointer;
              }
              submitLink:focus {
                outline: none;
              }
            </style>
            <input type="submit" class='submitLink' value='Logout'>
          </form>
      </div>

    </nav>
    <div id="wrapper" style="margin-top: 59px">
      {% include 'seller/snippets/top_navbar.html' %}
      <div id="page-content-wrapper">
        {% block main %}
        {% endblock %}
      </div>
      {% include 'seller/base/js.html' %}
      {% block script %}
      {% endblock %}
    </div>
  </body>
</html>
