{% extends './base.html' %}
{% load static %}
{% block main %}
	<div class="container">
			<div class="row text-center justify-content-center mt-5">
				<img class="col-3 mt-3" src="{% static 'img/amazon.png' %}" alt="Amazon FBA USA logo" height="15%"/>
				<img class="col-3" src="{% static 'img/ebay.png' %}" alt="Amazon FBA USA logo" height="15%"/>
			</div>
			<div class="row text-center mt-3">
				<div class="col">
					<h1>Track Your Shipments Here</h1>
				</div>
			</div>
			<div class="row">
	      <div class="col-6 mx-auto mb-2 mt-4">
	        <form method="GET" action="" class="form my-2 my-lg-0 search-form">
	          <div class="input-group">
	            <input class="form-control" type="text" placeholder="Track Your TBA/UPA Number" aria-label="Search" name="q" value="{{ request.GET.q }}">
	            <span class="input-group-btn">
								<button class="btn btn-success" type="submit">Track</button>
	            </span>
	          </div>
	        </form>
	      </div>
	    </div>
			<hr />
			{% include 'orders/snippets/orderListing.html' with my_context=my_context %}
	<div>
{% endblock %}
