{% url 'amazon:home' as home_url %}
{% url 'amazon:setup' as setup_url %}
{% url 'amazon:orders' as orders_url %}
{% url 'amazon:profile' as profile_url %}

<aside>
  <div id="sidebar-wrapper">
     <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
        <li class="{% if request.path == home_url %}active{% endif %}">
           <a href="{% url 'amazon:home' %}">Home</a>
        </li>
        <li class="{% if request.path == setup_url %}active{% endif %}">
           <a href="{% url 'amazon:setup' %}">Amazon / Ebay</a>
        </li>
        <li class="{% if request.path == orders_url %}active{% endif %}">
           <a href="{% url 'amazon:orders' %}">View Orders</a>
        </li>
        <li class="{% if request.path == profile_url %}active{% endif %}">
           <a href="{% url 'amazon:profile' %}">Profile</a>
        </li>
     </ul>
  </div>
</aside>
